# Install via 'pip install -r requirements.txt'

Werkzeug
MarkupSafe
Jinja2
itsdangerous
six
python-dateutil
aniso8601
pytz
flask-restful
pymongo>2.8,<3.0
requests

# install the newest mongokit from github
-e git+https://github.com/namlook/mongokit@development#egg=mongokit

# install the newest flask from github
-e git+https://github.com/ferstar/flask.git@patch-1#egg=flask